:root {
  --white: #ffffff;
  --blue: #1f8ef1;
  --black1: #333333;
}

.details {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-gap: 20px;
}

.recentOrders {
  min-height: 500px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.cardHeader h2 {
  font-weight: 600;
  color: var(--blue);
  margin: 0;
}

.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.details table thead td {
  font-weight: 600;
}

.details table tbody tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details table tbody tr:hover {
  background: var(--blue);
  color: var(--white);
}

.details table td {
  padding: 10px;
  text-align: left;
}

.details table td:last-child {
  text-align: right;
}

.status.delivered {
  padding: 2px 4px;
  background: #8de02c;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.status.pending {
  padding: 2px 4px;
  background: #e9b10a;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.status.return {
  padding: 2px 4px;
  background: #f00;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.status.inProgress {
  padding: 2px 4px;
  background: #1795ce;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .recentOrders {
      overflow-x: auto;
  }
}
